<h1>Welcome <%= "#{current_user.full_name}!" %></h1>

<div class='users-profile'>
    <% if current_user.gold_stars %>
        <h2>Gold Stars: <%= current_user.gold_stars %></h2>
    <% end %>
    
    <h2>Current Level: <%= current_user.level %></h2>

    <h2>Your Appointments:</h2>
    <ul>
        <% current_user.appointments_by_date.each do |appt| %>
            <li><%= link_to "#{appt.tutor.full_name}: #{appt.time}", "/users/#{current_user.id}/appointments/#{appt.id}/edit" %></li>
        <% end %>
    </ul>

    <button><%= link_to "Create Appointment!", "/users/#{current_user.id}/appointments/new", method: 'get' %></button>

</div>

