<div class='public-profile'>
    <h1><%= public_profile.full_name %></h1>

    <h2>Level: <%= public_profile.level %></h2></h2>

    <% if public_profile.rating %>
        <h2>Gold Stars: <%= public_profile.gold_stars %></h2>
    <% end %>

    <h2>About me: <%= public_profile.about_me %></h2>

</div>

<br><br>

<div class='centered'>
    <button><%= link_to "Profile", current_user.url %></button>
    <button><%= link_to "All Students", students_path %></button>
    <button><%= link_to "Home Page", '/' %></button>
</div>