<h1>Welcome <%= "#{current_user.full_name}!" %></h1>

<div class='users-profile'>
    <% if current_user.rating %>
        <h3>Your Current Rating: <%= current_user.rating %></h3>
    <% end %>

    <h2>Your Appointments:</h2>
    <ul>
        <% current_user.appointments_by_date.each do |appt| %>
            <li><%= link_to "#{appt.student.full_name}: #{appt.time}", edit_tutor_appointment_path(current_user, appt) %></li>
        <% end %>
    </ul>
</div>

<br><br>

<div>
    <button class="waves-effect yellow lighten-4 btn-small"><%= link_to "All Students", students_path %></button>
    <button class="waves-effect yellow lighten-4 btn-small"><%= link_to "Edit Profile", edit_tutor_path(current_user) %></button>
    <button class="waves-effect yellow lighten-4 btn-small"><%= link_to "Log Out", '/logout', method: 'post' %></button>
    <button class="waves-effect yellow lighten-4 btn-small"><%= link_to "Home Page", '/' %></button>
</div>

