<div class='centered'>

  <% if !logged_in? %>
   
    <button><%= link_to_login %></button>
    <button><%= link_to_new_profile %></button> 
    <button><%= link_to_omni %></button>
    <% if !tutors_index? %>
      <button><%= link_to_all_tutors %></button>
    <% end %>
  
  <% else %>
    <%# binding.pry %>

    <% if !user_profile? %>
      <button><%= link_to_profile %></button>
    <% end %>

    <% if current_user.is_student? && !new_appt? %>
      <button><%= link_to_new_appt %></button>
    <% end %>

    <% if current_user.is_student? && !highest_tutor? %>
      <button><%= link_to_highest_tutor %></button>
    <% end %>

    <% if current_user.is_student? && !tutors_index? %>
      <button><%= link_to_all_tutors %></button>
    <% end %>

    <% if !edit_profile? %>
        <button><%= link_to_edit_profile %></button>
    <% end %>

    <button><%= link_to_logout %></button>

  <% end %>

  <% if params[:action] != "home" %>
    <button><%= link_to_home %></button>
  <% end %>
  
</div>
