<img class='profile-photo' src="<%= public_profile.image %>", alt="profile pic goes here">

<% if users_stuff? && is_tutor? %>
    <%= render partial: 'tutors/profile' %>
<% elsif users_stuff? && is_student? %>
    <%= render partial: 'students/profile' %>
<% end %>
<%#binding.pry%>





<img src="<%= current_user.image %>", alt="profile pic goes here">

<h1>Welcome <%= "#{current_user.first_name} #{current_user.last_name}!" %></h1>

<% if current_user.is_tutor? %>
    <h2>Tutor Profile</h2>
<% elsif current_user.is_student? %>
    <h2>Student Profile</h2>
    <%= render partial: 'students/profile' %>
<% end %>



