<%= render partial: 'appt_errors'%>

<% if current_user.is_student? %>

    <h1>Would you like to edit your appointment?</h1>

    <%= form_with model: [current_user, @appt], local: true do |f| %>

        <%= f.label :tutor_id, "Pick Tutor: " %>
        <%= f.collection_select(:tutor_id, Tutor.all, :id, :full_name, { :selected => @appt.tutor_id }) %><br>

        <%= f.label :date_time, "Date & Time: " %>
        <%= f.datetime_select(:date_time, default: @appt.date_time, order: [:month, :day, :year], start_year: 2020, end_year: 2021) %><br>

        <%= f.hidden_field :student_id, value: current_user.id %>
        <%= f.submit "Update Appointment" %>

        <h3>-- OR --</h3>

    <% end %>

<% else %>
    
    <%= render partial: 'appt'%>

<% end %>

<button><%= link_to "Delete Appointment", [current_user, @appt], method: 'delete', data: { confirm: "Are you sure?" } %></button>

<% if current_user.is_student? %>
    <h3>-- OR --</h3>
    <button><%= link_to "Create Appointment!", new_appointment_path %></button>
<%end%>

<br><br>

<div class='centered'>
    <button><%= link_to "Profile", current_user.url %></button>
    <button><%= link_to "Home Page", '/' %></button>
</div>