<!DOCTYPE html>
<html>
  <head>
    <title>AppWithMti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <%= yield %>
    
    <button><%= link_to "Sign Up", new_user_path %></button>
    <button><%= link_to "Log In", '/login' %></button>
    <button><%= link_to "Log Out", '/logout' %></button>
    <button><%= link_to "Home Page", '/' %></button>
    <button><%= link_to('Log in with Facebook', '/auth/facebook') %></button>

  </body>
</html>
