<!DOCTYPE html>
<html>
  <head>
    <title>AppWithMti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if flash.any? %>
      <%= render partial: 'partials/flash'%>
    <% else %>
      <%= yield %>
    <% end %>

    <%# PUT LINKS AND LOGIC INTO A PARTIAL %>
    <%#binding.pry%>
    <%= render partial: 'partials/buttons'%><br><br><br>
    
    
    
    Practice:
    <button><%= link_to "New User", new_user_path %></button>    
    <button><%= link_to "Home Page", '/' %></button>
    <button><%= link_to "Log In", '/login' %></button>
    <button><%= link_to "All Tutors", tutors_path %></button>

    <% if current_user && session[:user_id] == current_user.id %>
      <button><%= link_to "Profile", user_path(current_user) %></button>
      <button><%= link_to "Log Out", '/logout', method: 'post' %></button>
      <button><%= link_to "Edit Profile", edit_user_path(current_user) %></button>
      <% if current_user.is_student? %>
        <button><%= link_to "Create Appointment!", "/users/#{current_user.id}/appointments/new", method: 'get' %></button>
      <% end %>
    <% end %>

  </body>
</html>
